.icon{
  
   margin-top: 100px;
  margin-left: 100px;  
  margin-bottom: 50px;  
 
  
}

.pera{
    font-size: 17px;
    color: #0F3577;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}